@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 100% 0 0;
  --foreground: 20.46% 0 0;
  --background-tr: oklch(86.07% 0 0 / 50%);
  --primary: 78.55% 0.1358 304.72;
  --secondary: 93.09% 0.0269 285.86;
  --tertiary: 89.59% 0.13927602087861937 91.07048796015461;
}

:root.no-tr {
  --background-tr: oklch(86.07% 0 0);
}

[data-theme="dark"] {
  --background: 27.68% 0 0;
  --foreground: 94.61% 0 0;
  --background-tr: oklch(35.62% 0 0 / 50%);
}

[data-theme="dark"].no-tr {
  --background-tr: oklch(35.62% 0 0);
}

body {
  color: oklch(var(--foreground));
  background: oklch(var(--background));
}
