@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(20.46% 0 0);
  --taskbar-bg: oklch(86.07% 0 0 / 50%);
}

:root.no-tr {
  --taskbar-bg: oklch(86.07% 0 0);
}

[data-theme="dark"] {
  --background: oklch(27.68% 0 0);
  --foreground: oklch(94.61% 0 0);
  --taskbar-bg: oklch(35.62% 0 0 / 50%);
}

[data-theme="dark"].no-tr {
  --taskbar-bg: oklch(35.62% 0 0);
}

body {
  color: var(--foreground);
  background: var(--background);
}
